* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-align: center;

}

.container {
    background-color: gray;
    border-radius: 10px;
}

.jumbotron {
    border: 2px solid black;
    background-image: -webkit-gradient(linear, left top, left bottom, from(darkgray), to(white));
    background-image: -webkit-linear-gradient(top, darkgray, white);
    background-image: -moz-linear-gradient(top, darkgray, white);
    background-image: linear-gradient(to bottom, darkgray, white);
}

.box {
    height: 120px;
    border: 2px solid black;
    background-image: -webkit-gradient(linear, left top, left bottom, from(darkgray), to(white));
    background-image: -webkit-linear-gradient(top, darkgray, white);
    background-image: -moz-linear-gradient(top, darkgray, white);
    background-image: linear-gradient(to bottom, darkgray, white);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: scroll;
}

.main_box {
    border: 5px solid black;
    height: 340px;
}

table {
    font-size: 20px;
    border: 2px black solid;
    background-color: lightgray;
}

th {
    text-align: center;
    width: 10px;
    background-color: black;
    color: white;
}

.button {
    margin: 10px;
    height: 30px;
    width: 90px;
    border-radius: 10px;
}

.button_reset {
    margin: 10px;
    height: 30px;
    width: 90px;
    border-radius: 10px;
    background-color: red;
    color: white;
}

.inning_box {
    margin: 10px;
    margin-left: 0px;
    border: 1px solid black;
    border-radius: 20px;
    background: black;
    font-size: 40px;
    color: white;
}

h3 {
    display: inline;
}

.outcome {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    
}

.big_box {
    margin-top: 20px;
    border: 5px black solid;
    border-radius: 10px;
    height: 300px;
    overflow: scroll;
}

.scoreboard {
    margin-top: 20px;
}

.events {
    font-size: 20px;

}

